<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="live.betterman.system.dao.SysUserMapper">
    <select id="loadByUsername" resultType="live.betterman.system.model.SysUser">
        select * from sys_user where username = #{username}
    </select>
    <select id="getRolesByUserId" resultType="live.betterman.system.model.SysRole">
        select t1.* from sys_role t1
        inner join sys_user_role t2 on t1.role_id = t2.role_id
        where t2.user_id = #{userId}
    </select>

    <select id="getPermissionsByUserId" resultType="live.betterman.system.model.SysPermission">
        select t4.* from sys_role t1
         join sys_user_role t2 on t1.role_id = t2.role_id
         join sys_role_permission t3 on t3.role_id = t2.role_id
         join sys_permission t4 on t4.permission_id = t3.permission_id
        where t2.user_id = #{userId}
    </select>
</mapper>
